<header>
    <h1>{{title}}</h1>
    <p>{{publishedDate}}</p>
    {{# if byline }}<p><strong style="font-weight: bold;">{{byline}}</strong></p>{{/if}}
    <p><strong style="font-weight: bold">Source: FT.com</strong></p>
    <p><strong style="font-weight: bold;">Word count: {{wordCount}}</strong></p>
    {{# if rich }}<p><strong style="font-weight: bold;">Link To FT.com: <a href="{{webUrl}}">{{webUrl}}</a></strong></p>
    {{ else }}Link To: {{webUrl}}
    {{/if}}
</header>
