<p><strong>User</strong>: {{user.first_name}} {{user.surname}} ({{user.email}})</p>
<p><strong>Contract ID</strong>: {{contract_id}}</p>
<p><strong>Licencee Name</strong>: {{contract.licencee_name}}</p>
<p><strong>Download Date</strong>: {{displayDate}}</p>
<p><strong>Article</strong>: <a href="{{content_url}}">{{title}}</a></p>
